[submodule "aurad-v0.4.3"]
	path = aurad-v0.7.2
	url = git@github.com:aura-nw/aura.git
[submodule "cosmos-sdk"]
	path = cosmos-sdk-v0.47.4
	url = https://github.com/cosmos/cosmos-sdk.git
[submodule "wasmd"]
	path = wasmd-v0.29.1
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go-v3.3.0"]
	path = ibc-go-v3.3.0
	url = https://github.com/cosmos/ibc-go.git
[submodule "ics23"]
	path = ics23
	url = https://github.com/cosmos/ics23.git
[submodule "cosmos-proto"]
	path = cosmos-proto
	url = https://github.com/cosmos/cosmos-proto.git
[submodule "tendermint"]
	path = tendermint
	url = https://github.com/tendermint/tendermint.git
